*{
    font-family: Tahoma;
}
.container00{
    color: white;
    margin-left: 10%;
    margin-right: 55%;
}

.container000{
    color: white;
    margin-left: 7%;
    margin-right: 8%;
}
.container0000{
    color: white;
}